.injectedIcon {
    background-image: url('chrome-extension://__MSG_@@extension_id__/icons/icon32.png');
    background-size: contain;
    width: 22px;
    height: 22px;
    cursor: pointer;
}

.injectedWrapper {
    display: none;
    position: fixed;
    top: 3.8em;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    width: 50%;
    height: 70%;
    border-radius: 1.5em;
}