.injectedIcon {
    position: fixed;
    right: 1em;
    top: 1em;
    z-index: 1;
    background-image: url('chrome-extension://__MSG_@@extension_id__/images/rocket32.png');
    background-size: contain;
    width: 2em;
    height: 2em;
    cursor: pointer;
}

.injectedIcon:hover {
    opacity: 0.5;
    transition: all 0.3s;
}

.injectedWrapper {
    display: none;
    position: fixed;
    top: 3.8em;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    width: 50%;
    height: 70%;
    border-radius: 1.5em;
}