body {
    display: flex;
    flex-direction: column;
    color: white;
    padding: 2em;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.container {
    flex: 1;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    height: 0;
    padding: 1.5em;
    margin-top: 1em;
    margin-bottom: 1em;
}

.simplebar-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.simplebar-scrollbar::before {
    background-color: white;
}

.userElement {
    width: 10em;
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: center;
}

p {
    margin: 0.2em 0;
}

a {
    color: lightblue;
    text-decoration: none;
}

#username {
    margin-left: 0.5em;
}

img {
    border-radius: 50%;
}

.profilePicture {
    width: 100%;
    position: relative;
}

#currentUserProfilePicture {
    width: 4em;
    height: 4em;
}

.alignCenter {
    display: flex;
    align-items: center;
}

.profilePictureContainer {
    position: relative;
    margin: 0 auto;
    width: 6em;
}

.selected {
    box-shadow: inset 0 0 0 4px lightgreen;
}

.processed {
    box-shadow: inset 0 0 0 4px indianred;
}

.spaceBetween {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.overlay {
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
}

.settingsPage {
    display: none;
    flex-direction: column;
    align-items: center;
    background-color: #313c49;
    width: 50%;
    height: 80%;
    border-radius: 8px;
}

.setting {
    width: 70%;
    margin-bottom: 5%;
}

input {
    width: 100%;
    box-sizing: border-box;
}

.loadSaveQueueButtons {
    text-align: right;
}

.startStopUnfollowingButtons {
    width: 100%;
    text-align: center;
}

#startUnfollowingBtn {
    width: 50%;
    border-color: lightgreen;
}

#startUnfollowingBtn:hover {
    color: #000000;
    background-color: lightgreen;
}

#stopUnfollowingBtn {
    width: 50%;
    display: none;
    border-color: indianred;
}

#stopUnfollowingBtn:hover {
    color: #000000;
    background-color: indianred;
}

button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
    margin-bottom: 1em;
    height: 2.5em;
    outline: none;
}

#loadQueueFileSelector {
    display: none;
}

.loadUnfollowed {
    display: inline-flex;
    flex-direction: column;
}

.countdown canvas {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    width: 100%;
}

.countdown {
    display: none;
}

.countdown strong {
    width: 100%;
    font-size: 2em;
    color: white;
    line-height: 300%;
}

#loadingBar canvas {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    width: 40%;
}

#loadingBar {
    display: none;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
}

#loadingBar div {
    position: absolute;
    text-align: center;
}

#loadingBar strong, #loadingMessage {
    width: 100%;
    font-size: 2em;
    color: white;
}

.stackedElement {
    position: absolute;
    top: 0;
    left: 0;
}

.selection {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.jam {
    font-size: 1.5em;
    margin-right: 0.2em;
}

#settingsBtn .jam {
    font-size: 3em;
    margin-left: 0.5em;
    margin-right: 0;
}