h1 {
    margin: 0;
}

h3 {
    margin-top: 0;
    margin-bottom: 0.5em;
}

h1, h3, strong {
    font-weight: normal;
}

.button {
    display: inline-flex;
    padding: 0.6em 1.2em;
    border: 0.1em solid #ffffff;
    border-radius: 0.5em;
    transition: all 0.3s;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    user-select: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    position: absolute;
    padding-top: 1em;
    width: 16em;
    border-radius: 1.5em;
}

.left {
    right: 0;
}

.top {
    bottom: 100%;
    padding-bottom: 1em;
}

.dropdown-content .button {
    width: 100%;
    margin: 0.15em 0;
    box-sizing: border-box;
    background-color: #313c49;;
}

.dropdown:not(.disabled):hover .dropdown-content {
    display: block;
}

.button:hover {
    color: #000000;
    background-color: #ffffff;
}

.button:hover img {
    filter: invert(0%) sepia(0%) saturate(16%) hue-rotate(253deg) brightness(105%) contrast(104%);
}

.container {
    flex: auto;
    position: relative;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 1.5em;
    height: 0;
    margin-top: 1em;
    margin-bottom: 2em;
    padding-bottom: 2.5em;
}

#extraData span {
    margin: 0.5em;
}

#extraData {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.scrollable-area {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
    height: 100%;
    padding: 1.5em;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: scroll;
}

.scrollable-area::after {
    content: "";
    flex: auto;
    display: block;
}

.scrollable-area::-webkit-scrollbar, #storyListContent::-webkit-scrollbar, #postListContent::-webkit-scrollbar {
    width: 0.5em;
    height: 0.5em;
}

.scrollable-area::-webkit-scrollbar-track, #storyListContent::-webkit-scrollbar-track, #postListContent::-webkit-scrollbar-track {
    background: none;
}

.scrollable-area::-webkit-scrollbar-thumb, #storyListContent::-webkit-scrollbar-thumb, #postListContent::-webkit-scrollbar-thumb {
    background-color: grey;
    border-radius: 0.5em;
}

.userElement {
    width: 10em;
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: center;
}

p {
    margin: 0;
    font-size: 1.3em;
}

a {
    color: lightblue;
    text-decoration: none;
}

img {
    border-radius: 50%;
    user-select: none;
}

.profilePicture {
    width: 100%;
    position: relative;
}

#currentUserProfilePicture {
    width: 4.5em;
    height: 4.5em;
}

.alignCenter {
    display: flex;
    align-items: center;
}

.profilePictureContainer {
    position: relative;
    margin: 0 auto 1em;
    width: 6em;
    height: 6em;
}

.followed {
    box-shadow: inset 0 0 0 4px lightgreen;
}

.unfollowed {
    box-shadow: inset 0 0 0 4px indianred;
}

.skipped {
    box-shadow: inset 0 0 0 4px #ffffff;
}

.selected {
    box-shadow: inset 0 0 0 4px #4ac5f8;
}

.spaceBetween {
    display: flex;
    justify-content: space-between;
}

.overlay, .rateLimitOverlay {
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
}

#usersRangeOverlay, #rateLimitOverlay, .dropdown-content {
    z-index: 1;
}

#advancedSettings .setting:not(:last-child), #basicSettings .setting:last-child {
    margin-bottom: 1.5em;
}

#basicSettings .setting:not(:last-child), #followingOptionsOverlay .setting:not(:last-child) {
    margin-bottom: 3em;
}

.disabled, .greenDot, .redDot {
    pointer-events: none;
}

.disabled:not(.selection) {
    opacity: 0.5;
}

#searchBar {
    display: flex;
    align-items: center;
    border: 0.1em solid #ffffff;
    border-radius: 0.5em;
    padding: 0.6em 1.2em;
    font-size: 1.2em;
}

#searchBarInput {
    border: none;
    padding: 0;
    margin-left: 0.3em;
    box-shadow: none;
}

.loadUsersButton {
    flex-grow: 1;
}

.grow {
    display: flex;
    justify-content: center;
    flex-grow: 10;
}

.queueActionsButton {
    flex-grow: 1;
    text-align: right;
}

.greenButton {
    border-color: lightgreen;
}

.greenButton:hover {
    color: #000000;
    background-color: lightgreen;
}

.redButton {
    border-color: indianred;
}

.redButton:hover {
    color: #000000;
    background-color: indianred;
}

#startFollowingBtn, #startUnfollowingBtn, #stopFollowingBtn, #stopUnfollowingBtn {
    width: 50%;
}

.hidden {
    display: none;
}

.countdown canvas {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    width: 100% !important;
    height: 100% !important;
}

.countdown strong {
    width: 100%;
    font-size: 2em;
    color: #ffffff;
    line-height: 300%;
}

#loadingBar canvas {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    width: 30em;
}

#loadingBar {
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
}

#loadingBarContent {
    position: absolute;
    text-align: center;
}

#loadingBar strong, #loadingMessage {
    width: 100%;
    font-size: 2em;
    color: #ffffff;
}

#loadingMessage {
    margin-bottom: 0;
}

.stackedElement {
    position: absolute;
    top: 0;
    left: 0;
}

.selection {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    cursor: pointer;
}

.selection:hover {
    background-color: rgba(0, 0, 0, 0.3);
    transition: all 0.3s;
}

.jam {
    display: block;
    width: 1.2em;
    margin-right: 0.3em;
    filter: invert(86%) sepia(100%) saturate(0%) hue-rotate(202deg) brightness(111%) contrast(100%);
}

#username, #selectionBtn {
    margin: 0 0.5em;
}

#settingsBtn .jam, #licensePageBtn .jam, #stopLoadingBtn {
    font-size: 2.75em;
    margin: 0;
    cursor: pointer;
}

.redIcon {
    filter: invert(50%) sepia(27%) saturate(778%) hue-rotate(313deg) brightness(88%) contrast(124%);
}

.greenIcon {
    filter: invert(89%) sepia(10%) saturate(1754%) hue-rotate(60deg) brightness(98%) contrast(90%);
}

#settingsBtn:hover {
    animation: rotation 2s infinite linear;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

input {
    width: 100%;
    box-sizing: border-box;
    background: none;
    border: 0.1em solid #ffffff;
    border-radius: 0.5em;
    color: #ffffff;
    padding: 0.8em 1.2em;
    -moz-appearance: textfield;
}

input:focus {
    outline: none;
}

#storyList, #postList {
    width: 70%;
}

#postList {
    display: flex;
    flex-direction: column;
    height: 70%;
}

#storyListContent {
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
}

#postListContent {
    display: flex;
    flex: auto;
    justify-content: center;
    flex-wrap: wrap;
    overflow-x: hidden;
    overflow-y: scroll;
}

.storyElement, .postElement {
    height: 20em;
    border-radius: 1.5em;
    cursor: pointer;
    margin-right: 1.5em;
}

.postElement {
    width: 20em;
    object-fit: cover;
    margin-bottom: 1.5em;
}

.storyElement:hover, .postElement:hover, #stopLoadingBtn:hover, .dot:hover, #licensePageBtn:hover {
    opacity: 0.5;
    transition: all 0.3s;
}

#emptyQueueMessage {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3em;
    opacity: 0.2;
}

input, .button, .noUi-target, #searchBar {
    box-shadow: 0 0 25px 5px rgba(0, 0, 0, 0.25);
}

.storyElement, .postElement {
    box-shadow: 15px 5px 25px 1px rgba(0, 0, 0, 0.1);
}

.modal {
    background-color: #313c49;
    width: 35%;
    border-radius: 1.5em;
    padding: 2em;
    box-shadow: 0 0 25px 10px rgba(0, 0, 0, 1);
}

.modalHeading, .modalBody {
    padding-bottom: 1.5em;
    margin-bottom: 1.5em;
    border-bottom: 2px solid #5a626d;
}

.dot {
    height: 1.2em;
    width: 1.2em;
    background-color: #5a626d;
    border-radius: 50%;
    cursor: pointer;
}

.greenDot {
    background-color: lightgreen;
}

.redDot {
    background-color: indianred;
}

#dots {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-right: 0.5em;
}

.noUi-target {
    background: none;
    height: 2.2em;
    padding: 0 1.1em;
    border-radius: 5em;
}

.noUi-connects {
    border-radius: 5em;
    margin: 0 -1.1em;
    width: calc(100% + 1.1em);
}

.noUi-connect {
    background-color: #5a626d;
}

.noUi-horizontal .noUi-handle {
    width: 2.2em;
    height: 2.2em;
    top: -0.1em;
    right: -1.1em;
    box-shadow: 0 0 25px 5px rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    cursor: pointer;
}

.noUi-handle:after, .noUi-handle:before {
    display: none;
}

.noUi-handle:focus {
    outline: none;
}

.noUi-horizontal .noUi-tooltip {
    bottom: -120%;
    background: none;
    color: #ffffff;
    border: none;
    font-size: 1.1em;
}

#settingsToggle, #skipPrivateAccounts, #usersRangeToggle {
    width: 4.5em
}

#usersRangeSlider {
    margin-top: 4.5em;
}

.name {
    display: block;
}

#loadingBarHeading {
    margin-bottom: 0.5em;
}

#buyLicenseBtn {
    width: 100%;
    box-sizing: border-box;
    margin-top: 1.5em;
}