a:focus,
a:hover {
    color: #fff;
    transition: all 0.3s;
}

.btn-secondary,
.btn-secondary:focus {
    color: #333;
    text-shadow: none;
    background-color: #fff;
    border: .05rem solid #fff;
    transition: all 0.3s;
}

html,
body {
    height: 100%;
    background-color: rgba(51, 51, 51, 0.3);
}

body {
    overflow: auto;
    display: -ms-flexbox;
    display: flex;
    color: #fff;
    text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}

.cover-container {
    max-width: 50em;
}

.masthead {
    margin-bottom: 2rem;
}

.masthead-brand {
    margin-bottom: 0;
}

.masthead-brand:hover {
    opacity: 0.7;
    transition: all 0.3s;
}

img {
    height: 1.5em;
}

.nav-masthead .nav-link {
    padding: .25rem 0;
    font-weight: 700;
    color: rgba(255, 255, 255, .5);
    background-color: transparent;
    border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
    border-bottom-color: rgba(255, 255, 255, .25);
    transition: all 0.3s;
}

.nav-masthead .nav-link + .nav-link {
    margin-left: 1rem;
}

.nav-masthead .active {
    color: #fff;
    border-bottom-color: #fff;
}

@media (min-width: 50em) {
    .masthead-brand {
        float: left;
    }

    .nav-masthead {
        float: right;
    }
}

.cover {
    padding: 0 1.5rem;
}

.cover .btn-lg {
    padding: .75rem 1.25rem;
    font-weight: 700;
}

.mastfoot {
    color: rgba(255, 255, 255, .5);
}

.shadow-all-sides {
    box-shadow: 0 0 2rem rgba(0, 0, 0, .3);
}

.card {
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 0.5em;
    height: 100%;
}

.card-img-top {
    font-size: 2em;
    margin-top: 0.4em;
}